.nav-item {
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px; /* Adjust the height as needed */
        background-color: #20241B; /* Adjust the color as needed */
        transition: width 0.3s ease; /* Add a smooth transition effect */
    }

    &:hover::before,
    &.active::before {
        width: 100%; /* Expand the pseudo-element to create the left-to-right effect */
    }
}

// Additional style for links inside .nav-item
.nav-item a {
    text-decoration: none;
    color: inherit;
}

// Apply the .active class to the current page's .nav-item
.nav-item.active {
    &::before {
        width: 100%;
    }
}
