.product {
    border:  rgba(151, 151, 151, 0.289) 1px solid;
    padding: 10px;
    padding-top: 30px;

    &:hover{
        cursor: pointer;
        background-color: rgba(151, 151, 151, 0.049);
    }

    div {

        div {
            display: flex;
            justify-content: space-between;

            .cartIcon {
                background-color: #fca46e39;
                border-radius: 10px;
                border: #fca46e 1px solid;
                padding: 5px;
                font-size: 20px;
                color: #fca46e;

                &:hover{
                    cursor: pointer;
                    color: #ffffff;
                    background-color: #fca46ec1;
                    border: 0;
                }
            }
        }
    }
}
